<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div>
      <form>
        <input id='username' type='text' /><br />
        <input id='password' type='password' /><br />
        <input id='doLogin' type='button' value='Login' />
        <input id='doRegister' type='button' value='Register' />
      </form>
      <br />
      <form>
        <input id='goal' type='text' /><br />
        <input id='periodInHours' type='text' value='24' /><br />
        <input id='frequency' type='text' value='1' /><br />
        <input id='startDate' type='text' value='2018/01/01' /><br />
        <input id='doAddGoal' type='button' value='Add' />
      </form>
      <p id='goalSection' />
    </div>

    <script type='text/javascript'>
      $(document).ready(function ()      
      {
        // Register.
        $('#doRegister').click(function ()
        {
          var username = $('#username').val();
          var password = $('#password').val();
        
          $.post(
            '/api/users/register',
            { 'username': username, 'password': password },
            function () { alert('Registered'); });
        });

        // Login.
        $('#doLogin').click(function ()
        {          console.log('hi2');
          var username = $('#username').val();
          var password = $('#password').val();
          
          var now = new Date();
          var expiryTime = now.getTime() + (30 * 24 * 60 * 60 * 1000);
          now.setTime(expiryTime);
          
          document.cookie = 'secure';
          document.cookie = 'username=' + username;
          document.cookie = 'password=' + password;
          document.cookie = 'expires=' + now.toUTCString();
        
          $.post(
            '/api/users/login',
            { 'username': username, 'password': password },
            function (token)
            {
              UpdateToken(token);
              GetAndPopulateGoals();
            });
        });

        // Add Goal.
        $('#doAddGoal').click(function ()
        {
          var name = $('#goal').val();
          var period = $('#periodInHours').val();
          var frequency = $('#frequency').val();
          var startDate = $('#startDate').val();
        
          $.ajax({
            url: '/api/goals/create',
            type: 'POST',
            headers: { 'auth': GetToken() },
            data: { 'Id': 0, 'Name': name, 'PeriodInHours': period, 'FrequencyWithinPeriod': frequency, 'StartDate': startDate },
            success: function () { GetAndPopulateGoals(); },
            error: alert('Error adding goal.')
          });
        });
        
        // Auto-login if we have credentials.
        $('#username').val(GetCookie('username'));
        $('#password').val(GetCookie('password'));

        if ($('#username').val().length > 0 && $('#password').val().length > 0)
        {
          document.getElementById('doLogin').click();
        }
      });
      
      function UpdateToken(data)
      {
        console.log(data);
        var token = data.replace(/\"/g, '');
        console.log(token);
        
        document.cookie = 'token=' + token;
      }
      
      function GetAndPopulateGoals()      
      {
        $.ajax({
          url: '/api/goals',
          type: 'GET',
          headers: { 'auth': GetToken() },
          contentType: 'application/json; charset=utf-8',
          success: function (data) { console.log('Retrieved goals.'); PopulateGoals(data); },
          error: function (xhr, status, error) { alert('Error retrieving goals: ' + error); }
        });
      }
      
      function PopulateGoals(goals)
      {
        console.log(goals);
        
        goals = JSON.parse(goals);
        
        var content = '<table>';
        
        $.each(goals, function(i, e)
        {
          content +=
            "<tr><td>" + e.Name + "</td><td><input id='goalAttempt" + e.Id +
            "' type='button' value='+' onclick='CreateGoalAttempt(" + e.Id + ")' />" +
            " <span id='attemptsForGoal" + e.Id + "' /></td></tr>";
        });
        
        $('#goalSection').empty();
        $('#goalSection').append(content);
        
        $.each(goals, function(i, e)
        {
          GetAndPopulateStats(e.Id);
        });
      }
      
      function GetAndPopulateStats(goalId)
      {
        $.ajax({
          url: '/api/goals/periodStats?goalId=' + goalId,
          type: 'GET',
          headers: { 'auth': GetToken() },
          contentType: 'application/json; charset=utf-8',
          success: function (data) { console.log('Retrieved attempts.'); PopulateStats(data, goalId); },
          error: function (xhr, status, error) { alert('Error retrieving attempts: ' + error); }
        });
      }
      
      function PopulateStats(data, goalId)
      {
        var stats = JSON.parse(data);
        
        $('#attemptsForGoal' + goalId).append(
          stats.AttemptCount + '/' + stats.TargetAttemptCount + ' ' +
          '(' + stats.PeriodEnd + ')');
      }
      
      function CreateGoalAttempt(goalId)
      {
        $.ajax({
          url: '/api/goalAttempts/create',
          type: 'POST',
          headers: { 'auth': GetToken() },
          data: { 'Id': 0, 'GoalId': goalId, 'Timestamp': null },
          success: function () { console.log('Added goal-attempt.'); GetAndPopulateGoals(); },
          error: function (xhr, status, error) { alert('Error adding goal-attempt: ' + error); }
        });
      }
      
      function GetCookie(name)
      {
        var re = new RegExp(name + "=([^;]+)");
        var value = re.exec(document.cookie);
        return (value != null) ? unescape(value[1]) : null;
      }
      
      function GetToken()
      {
        return GetCookie('token');
      }
    </script
  </body>
</html>