<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <form>
      <input id='username' type='text' />
      <input id='password' type='password' />
      <input id='doLogin' type='button' value='Login' />
      <input id='doRegister' type='button' value='Register' />
    </form>
    <form>
      <input id='goal' type='text' />
      <input id='doAddGoal' type='button' value='Add' />
    </form>
    <p id='goalSection' />

    <script type='text/javascript'>
      $(document).ready(function ()      
      {
        $('#username').val(GetCookie('username'));
        $('#password').val(GetCookie('password'));
      
        $('#doRegister').click(function ()
        {
          var username = $('#username').val();
          var password = $('#password').val();
        
          $.post(
            '/api/users/register',
            { 'username': username, 'password': password },
            function () { alert('Registered'); });
        });

        $('#doLogin').click(function ()
        {
          var username = $('#username').val();
          var password = $('#password').val();
          
          document.cookie = 'username=' + username;
          document.cookie = 'password=' + password;
        
          $.post(
            '/api/users/login',
            { 'username': username, 'password': password },
            function (token)
            {
              UpdateToken(token);
              GetAndPopulateGoals();
            });
        });

        $('#doAddGoal').click(function ()
        {
          var name = $('#goal').val();
          var period = 1;
          var frequency = 1;
        
          $.ajax({
            url: '/api/goals/create',
            type: 'POST',
            headers: { 'auth': GetToken() },
            data: { 'Id': 0, 'Name': name, 'Period': period, 'FrequencyWithinPeriod': frequency },
            success: function () { console.log('Added goal.'); GetAndPopulateGoals(); },
            error: console.log('Error adding goal.')
          });
        });
      });
      
      function UpdateToken(data)
      {
        console.log(data);
        var token = data.replace(/\"/g, '');
        console.log(token);
        
        document.cookie = 'token=' + token;
      }
      
      function GetAndPopulateGoals()      
      {
        $.ajax({
          url: '/api/goals',
          type: 'GET',
          headers: { 'auth': GetToken() },
          contentType: 'application/json; charset=utf-8',
          success: function (data) { console.log('Retrieved goals.'); PopulateGoals(data); },
          error: function (xhr, status, error) { console.log('Error retrieving goals: ' + error); }
        });
      }
      
      function PopulateGoals(goals)
      {
        console.log(goals);
        
        goals = JSON.parse(goals);
        
        var content = '<table>';
        
        $.each(goals, function(i, e)
        {
          content +=
            "<tr><td>" + e.Name + "</td><td><input id='goalAttempt" + e.Id +
            "' type='button' value='+' onclick='CreateGoalAttempt(" + e.Id + ")' /></td></tr>";
        });
        
        $('#goalSection').empty();
        $('#goalSection').append(content);
      }
      
      function CreateGoalAttempt(goalId)
      {
        $.ajax({
          url: '/api/goalAttempts/create',
          type: 'POST',
          headers: { 'auth': GetToken() },
          data: { 'Id': 0, 'GoalId': goalId, 'Timestamp': null },
          success: function () { console.log('Added goal-attempt.'); alert('Attempt added.'); },
          error: function (xhr, status, error) { console.log('Error adding goal-attempt: ' + error); }
        });
      }
      
      function GetCookie(name)
      {
        var re = new RegExp(name + "=([^;]+)");
        var value = re.exec(document.cookie);
        return (value != null) ? unescape(value[1]) : null;
      }
      
      function GetToken()
      {
        return GetCookie('token');
      }
    </script
  </body>
</html>